
@{
    ViewData["Title"] = "dropdownlist";
}

<h1>dropdownlist</h1>

<select name="cars" id="cars">
    <option value="volvo" Title="This is a tooltip">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
</select>
<br />